.lado{
    color: white;
    background: linear-gradient(93.83deg, #1D592E 14.82%, #BEE1C8 142.61%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lado1{
    background-color: #BEE1C8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}
.grupo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #BEE1C8;
    align-items: center;
}
.meio{
    text-align: center;

}
h2,h3{
    color: #6E603A;
    
}
.lista{
    display: none;
    position: absolute;
    top: 100%;
    
}
.container1:checked~.lista{
    display: block;

}
header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container1{
    display: none;
}
.direita{
    display: flex;
}.some{
    padding: 0 20px;
}
.img{
    width: 90%;
}
.img1{
    width: 25%;
}
.footer{
    color: white;

}
footer{
    background-color: #1D592E;
    margin: 0;
    padding: 10px;
  text-align: center;
}
@media screen and (max-width: 401px) {
    .some{
        display: none;
    }
    .grupo{
        display: grid;
        grid-template-columns: 50% 50%;

    }
    .lado1{
        display: block;
    }
    h2,h3{
        font-size: 12px;
        ;
    }

}